{
    "__comment__": "Configuration options starting with '__' are disabled",
    "mainAddress": "mongo:27017",
    "verbosity": 0,
    "continueOnError": false,
    "namespaces": {
        "include": ["flaper.FObject"],
        "mapping": {
            "flaper.FObject": "flaper.object"
        }
    },
    "docManagers": [
        {
            "docManager": "elastic2_doc_manager",
            "targetURL": "localhost:9200",
            "__bulkSize": 1000,
            "__uniqueKey": "_id",
            "__autoCommitInterval": null
        }
    ]
}
